.tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    border: 2px black dotted;
}

.tag a {
    margin-top: 15px;
}

.tag h2 {
    font-size: 20px;
}